[type="radio"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline:none;
    margin:0px;
}
[type="radio"]+label{
    line-height: 16px;
    font-size: 16px;
    position: relative;
    bottom: 0.5em;
    display: inline-block;
}
[type="radio"]::before {
    float: left;
    position: relative;
    content: '';
    margin:5px;
    display:inline-block;
    line-height: 15px;
    text-align: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid rgb(187, 187, 187);
    background-color: rgb(247, 247, 247);
    color: rgb(51, 51, 51);
    font-size: 16px;
}
[type="radio"]:hover::before{
    background-color: rgb(233, 233, 233);
    border-color: rgb(206, 206, 206);
    cursor: pointer;
}

[type="radio"]:focus::before{
    border:2px solid #3072C4;
    margin:4px;
}

[type="radio"]:checked::before{
    content: "●";
}

[type="radio"]:active::before{
    content: "●";
    background-color: rgb(224, 224, 224);
    border-color: rgb(187, 187, 187);
}

[type="radio"]:disabled::before{
    background-color:rgb(242, 242, 242) ;
    border-color: rgb(218, 218, 218);
}

[type="radio"]:checked:disabled::before{
    color: rgb(160, 160, 160);
}
[type="radio"]:disabled+label{
    color:rgb(164,164,164);
}