.nav .active{
    font-weight: bold;
}
.nav li{
    display: inline-block;
    margin-right:5px;
}
.nav li :hover{
    color:#3072C4;
}
.nav li a{
    text-decoration: none;
    color:black;
}
.nav li::before{
    content: "♦️";
    margin-right: 5px;
}
.nav :first-child::before{
    content: "";
}